@media (min-width: 992px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="a1bb256b-489c-4632-bad1-a4c405aec261"] {
        -webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        display: flex;
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="ce672c7c-5015-9bf0-1410-e1560772d8ac"] {
        -webkit-transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8d816402-9e60-2ec8-9ed8-2cb24ae6a1ca"] {
        display: none;
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8a9dde4c-4c0e-0925-3ae5-be436fbd022b"] {
        width: 0em;
        height: 1.75em;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="7f049a87-a332-eae0-606f-52e6006dbab0"] {
        opacity: 1;
    }
}

@media (max-width: 991px) and (min-width:768px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="a1bb256b-489c-4632-bad1-a4c405aec261"] {
        -webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        display: flex;
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="ce672c7c-5015-9bf0-1410-e1560772d8ac"] {
        -webkit-transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8d816402-9e60-2ec8-9ed8-2cb24ae6a1ca"] {
        display: none;
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8a9dde4c-4c0e-0925-3ae5-be436fbd022b"] {
        width: 0em;
        height: 1.75em;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="7f049a87-a332-eae0-606f-52e6006dbab0"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="772d29ac-05bb-9c73-c825-cd832f4d288c"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8d53ccf5-4f7c-1bd9-ea89-3887bf5a22cc"] {
        opacity: 0;
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="772d29ac-05bb-9c73-c825-cd832f4d288b"] {
        width: 0vw;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="772d29ac-05bb-9c73-c825-cd832f4d2889"] {
        width: 0vw;
    }
}

@media (max-width: 767px) and (min-width:480px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="a1bb256b-489c-4632-bad1-a4c405aec261"] {
        -webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        display: flex;
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="ce672c7c-5015-9bf0-1410-e1560772d8ac"] {
        -webkit-transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8d816402-9e60-2ec8-9ed8-2cb24ae6a1ca"] {
        display: none;
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8a9dde4c-4c0e-0925-3ae5-be436fbd022b"] {
        width: 0em;
        height: 1.75em;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="7f049a87-a332-eae0-606f-52e6006dbab0"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="772d29ac-05bb-9c73-c825-cd832f4d288c"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8d53ccf5-4f7c-1bd9-ea89-3887bf5a22cc"] {
        opacity: 0;
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="772d29ac-05bb-9c73-c825-cd832f4d288b"] {
        width: 0vw;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="772d29ac-05bb-9c73-c825-cd832f4d2889"] {
        width: 0vw;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="90c6d87e-3784-104e-c6a1-d46bc8fe0673"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b5ef3779-5f7d-dc7b-2cb3-8d478bfab4e5"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="611899a1-4350-d844-49ad-31dba55e0116"] {
        display: flex;
    }
}

@media (max-width: 479px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="90c6d87e-3784-104e-c6a1-d46bc8fe0673"] {
        display:none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b5ef3779-5f7d-dc7b-2cb3-8d478bfab4e5"] {
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="611899a1-4350-d844-49ad-31dba55e0116"] {
        display: flex;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a1bb256b-489c-4632-bad1-a4c405aec261"] {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        display: flex;
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="b53c975b-19ee-04a7-8989-92d108c76c79"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="ce672c7c-5015-9bf0-1410-e1560772d8ac"] {
        -webkit-transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(0, 30vh, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8d816402-9e60-2ec8-9ed8-2cb24ae6a1ca"] {
        display: none;
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8a9dde4c-4c0e-0925-3ae5-be436fbd022b"] {
        width: 0em;
        height: 1.75em;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="7f049a87-a332-eae0-606f-52e6006dbab0"] {
        opacity: 1;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="772d29ac-05bb-9c73-c825-cd832f4d288c"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="8d53ccf5-4f7c-1bd9-ea89-3887bf5a22cc"] {
        opacity: 0;
        display: none;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="772d29ac-05bb-9c73-c825-cd832f4d288b"] {
        width: 0vw;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="772d29ac-05bb-9c73-c825-cd832f4d2889"] {
        width: 0vw;
    }
}